
<div class="example-container example-form widthContent">

    <mat-form-field>
        <mat-select placeholder="Mode of Transport" (change)="MOPSelectionChange()" [(value)]="createVRNData.MODEOFTRANSPORT" [(ngModel)]="createVRNData.MODEOFTRANSPORT">
          <mat-option *ngFor="let mode of TransModes" [value]="mode.modeNum" >
            {{mode.modeTxt}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
        <mat-step *ngIf='createVRNData.MODEOFTRANSPORT != "HD"'>
            <ng-template matStepLabel>Vehicle</ng-template>

            <!-- <form > -->
            <mat-radio-group placeholder="Vehicle Status" (change)="vehicleStatusChange()" value={{createVRNData.VEHICLESTATUS}}  *ngIf="MOPSelectedField.vehStat"   [(ngModel)]="createVRNData.VEHICLESTATUS">
                <mat-radio-button value="L">Loaded</mat-radio-button>
                <mat-radio-button value="E">Empty</mat-radio-button>
            </mat-radio-group>

            <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.vehNo">  
                <input matInput  placeholder="Vehicle No."  required (change) = 'vehicleSelection()' value="{{createVRNData.VEHICLENUM | uppercase}}"  [(ngModel)]="createVRNData.VEHICLENUM" >
            </mat-form-field>

            <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.fleetType">
                <input matInput placeholder="Fleet Type"  value="{{createVRNData.FLEETTYPE}}" [(ngModel)]="createVRNData.FLEETTYPE" disabled='true'>
              </mat-form-field>

            <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.transName">
                <input matInput placeholder="Transporter/Agency Name." required  [value]="createVRNData.TRANSPORTER" [(ngModel)]="createVRNData.TRANSPORTER"  aria-label="Agency" [matAutocomplete]="auto" [formControl]="agencyCtrl">
                <mat-autocomplete #auto="matAutocomplete" >
                  <mat-option *ngFor="let agency of filteredAgencies | async" [value]="agency.Name1" (click)="selectTransporterChange(agency)" >              
                    <span>{{ agency.Name1 }}</span> 
                    <small> ({{ agency.Vendor}})</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

                      <mat-radio-group [(value)]="createVRNData.SEALCONDITION" (change)="sealConditionChange()"  *ngIf="MOPSelectedField.sealCond" [(ngModel)]="createVRNData.SEALCONDITION">
                          <mat-radio-button value="I">Intact </mat-radio-button>
                          <mat-radio-button value="D">Damaged</mat-radio-button>
                          <mat-radio-button value="N">No Seal</mat-radio-button>
                      </mat-radio-group>
         
                      <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.seal1">
                          <input matInput placeholder="Seal No. 1"  value="{{createVRNData.SEAL1}}" [(ngModel)]="createVRNData.SEAL1">
                      </mat-form-field>
                     
                      <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.seal2">
                          <input matInput placeholder="Seal No. 2"  value="{{createVRNData.SEAL2}}" [(ngModel)]="createVRNData.SEAL2">
                        </mat-form-field> 

                      <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.noOfBoxes">
                          <input matInput placeholder="No of Boxes"  value="{{createVRNData.NUMOFBOXES}}" [(ngModel)]="createVRNData.NUMOFBOXES">
                      </mat-form-field>

                      <!-- </form> -->

            <div>
              <button mat-raised-button matStepperNext>Next</button>
            </div>
          <!-- </form> -->
        </mat-step>
        <mat-step >
       
            <ng-template matStepLabel>Driver</ng-template>
           

            <mat-form-field class="licenseEvent" *ngIf="MOPSelectedField.licNo">
                <input matInput placeholder="Driver License No." required  (change)="licenseSelection()"  value="{{createVRNData.LICENSENUM | uppercase}}" [(ngModel)]="createVRNData.LICENSENUM">
              </mat-form-field>
              <button mat-icon-button (click)='createLicenseDta()' *ngIf="addButtonVal">
                <mat-icon aria-label="">add</mat-icon>
              </button>
          
              <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.mobNo"  >
                  <input matInput placeholder="Mobile No." required (change) = 'mobilenuvalid()' required value="{{createVRNData.DRIVERNUM}}" [(ngModel)]="createVRNData.DRIVERNUM">
              </mat-form-field>
           
            <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.personName">
                <input matInput placeholder="Driver/Pickup Person Name." required  value="{{createVRNData.DRIVERNAME}}" [(ngModel)]="createVRNData.DRIVERNAME">
            </mat-form-field>
         
            <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.idProof">
              <input matInput placeholder="ID proof type" required  value="{{createVRNData.IDPROOFTYPE}}" aria-label="IDProof" [matAutocomplete]="auto" [formControl]="IDProofCtrl" [(ngModel)]="createVRNData.IDPROOFTYPE">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let prf of filteredProofs | async" [value]="prf.modeTxt" (click)="selectIDProofChange(prf)">              
                {{prf.modeTxt}} 
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          
            <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.idProofNum">
                <input matInput placeholder="ID proof No." required value="{{createVRNData.IDPROOFNUM}}" [(ngModel)]="createVRNData.IDPROOFNUM">
            </mat-form-field>     

            <div>
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button matStepperNext>Next</button>
            </div>
          <!-- </form> -->
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <mat-form-field class="example-full-width" *ngIf="MOPSelectedField.lrNo">
              <input matInput placeholder="AWB no./Docker no./LR no." value="{{createVRNData.LRNUM}}" [(ngModel)]="createVRNData.LRNUM">
          </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Remarks" value="{{createVRNData.REMARKS}}" [(ngModel)]="createVRNData.REMARKS"></textarea>
        </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button (click)="onSubmit(false)" color="warn">Report-In</button>
            <button mat-raised-button (click)="VRNCheckIn()" color="primary">Check-In</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      </div>

 