<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" >
        <!-- opened="true" -->
         
                <mat-toolbar color="primary">                    
                      <span>VRN List</span>
                      <!-- *ngIf="!searchVisible" -->
                      <span class="example-spacer"></span>
                      <!-- *ngIf="!searchVisible"  -->
                      <!-- <button mat-icon-button (click)="searchVisible = !searchVisible" *ngIf="!searchVisible">
                            <mat-icon aria-label="Search">search</mat-icon>
                      </button> -->
                      <!-- <input *ngIf="searchVisible" matInput placeholder="Search" type="search" (keyup)="searchChange($event)"> -->
                    </mat-toolbar>
                <!-- <form class="example-form"> -->
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Search" type="search" (keyup)="searchChange($event)">
                        </mat-form-field>
                <section class="masterList">
                <mat-nav-list class="list">
                    <mat-list-item *ngFor="let data of createUserData" (click)="drawer.toggle(); onVRNSelected(data)" class="{{data.class}} heightStable">
                        <div>
                   <!-- <mat-icon mat-list-icon color='primary'> {{data.transportIcon}} </mat-icon>  -->
                        <h4 class="marginTitle">VRN. {{data.VRN}}</h4>
                        <span class="marginTitle">Vehicle No. {{data.VEHICLENUM}}</span>               
                 <!-- <span class="marginTitle">{{data.PURPOSE}}</span> -->                
                    </div>
                    </mat-list-item> 
                  </mat-nav-list>
                </section>
               
                <div class="mainFooter"> 
                    <a routerLink="/createvrn" >
                        <button mat-mini-fab color="primary" (click)='drawer.toggle(); VRNDetlTxtfn("Create VRN")'>
                            <mat-icon>add</mat-icon>
                        </button>
                    </a>
                </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="example-sidenav-content">
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <button mat-icon-button mat-button (click)="drawer.toggle()">
                        <mat-icon aria-label="Menu Icon">menu</mat-icon>
                    </button>                
                    <span class="detailTitle">{{VRNDetlTxt}}</span>
                    <span class="example-spacer"></span>
                </mat-toolbar-row>
            </mat-toolbar>
            <div class="detailForm">
                <router-outlet></router-outlet>        
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

        
